body{
    margin:0;
    overflow:hidden;
    background:black;
    color:white;
    font-family:Arial,sans-serif;
}

#title{
    position:absolute;
    top:15px;
    width:100%;
    text-align:center;
    font-size:32px;
    z-index:10;
}

#info{
    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
    z-index:10;
}
